*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #44174e;
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    bottom: 10px;
    right: 20px;;
    opacity: 0;
    z-index: 100;
}
.main-sec p, .main-sec h2, .main-sec h3{
    color: white;
}
.main-sec h3{
    width: 20ch;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20) 1 alternate;
}
@keyframes typing{
    from{
        width: 0ch;
    }
}
.main-sec a{
    text-decoration: none;
    margin-left: 15px;
}
nav{
    box-shadow: 1px 1px 5px black;
}
.navbar-pos{
    position: sticky;
    top: 0;
    z-index: 1;
    
}
nav li a:hover{
    transform: scale(1.1);
    color: #eee;
}
nav .navbar-brand::first-letter{
    color: #9606b6;
    font-weight: bold;
}
.main-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    text-align: center;
    margin-top: 20px;
}
.main-img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-image: url(medddo.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    border: 3px solid white;
}
.main-sec .icons{
    display: flex;
}
.main-sec .icons a{
    border-radius: 50%;
    border: none;
    transition: 0.4s ease-in-out;
    margin: 10px 5px;
    text-align: center;
}
.main-sec .icons a:hover{
    transform: scale(1.2);
}
.main-sec .buttons a{
    transition: 0.4s ease-in-out;
    color: white;
}
.main-sec .buttons{
    display: flex;
}
.main-sec .buttons a:hover{
    transform: scale(1.1);
}
.box.show {
    opacity: 1;
    transform: translateY(0);
}
.box{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}
.box-left.show {
    opacity: 1;
    transform: translateY(0);
}
.box-left{
    opacity: 0;
    transform: translatex(-30px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}
.box-right.show {
    opacity: 1;
    transform: translateY(0);
}
.box-right{
    opacity: 0;
    transform: translatex(30px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}
.box-top.show {
    opacity: 1;
    transform: translateY(0);
}
.box-top{
    opacity: 0;
    transform: translateY(-35px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}
.about-sec{
    margin-top: 20px;
}
.about-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.skills li span{
    font-weight: bold;
    color: white;
    font-size: 18px;
}
.skills{
    margin-top: 30px;
}
.skills li{
    color: rgb(186, 186, 186);
    font-weight: 700;
    line-height: 35px;

}
.skills .btn{
    transition: 0.4s ease-in-out;
    color: white;
    font-size: 18px;
}
.skills .btn:hover{
    transform: scale(1.1);
}
.hide{
    display: none;
    transition: all 1s ease-in-out;
    line-height: 35px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; 
    margin-top: 20px;
}
.projects a{
    text-decoration: none;
}
.projects .ecomm-pro {
    width: 250px;
    height: 350px;
    box-shadow: 1px 1px 3px gray;
    border-radius: 20px;
    border: 1px solid #eee;
    background-color: transparent;
    transition: 0.4s ease;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}
.projects .ecomm-pro p{
    color: rgb(186, 186, 186);
    text-align: center;
}
.projects .ecomm-pro h2{
    text-align: center;
}
.projects .ecomm-pro:hover{
    transform: scale(1.1);
}
.projects .ecomm-pro img{
    width: 225px;
    height: 160px;
    border-radius: 20px;
    margin-bottom: 10px;

}
.contact{
    margin-top: 20px;
}
.btn-send{
    width: 250px;
    margin-bottom: 15px;
}
footer{
    font-size: 20px;
    color: white;
    background-color: #212529;
    padding: 5px;
    display: flex;
    justify-content: center;
}
footer a{
    text-decoration: none;
    font-weight: bold;
    color:#9606b6;
}
@media (max-width:600px) {
    footer{
        font-size: 16px;
    }
    
}


