*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: #44174e;
    height: 2000px;
    scroll-behavior: smooth;
    position: relative;
}
.arrow{
    position: fixed;
    bottom: 10px;
    right: 20px;;
    opacity: 0;
}
.main-sec p, .main-sec h2, .main-sec h3{
    color: white;
}
.main-sec a{
    text-decoration: none;
    margin-left: 15px;
}
nav{
    box-shadow: 1px 1px 5px black;
    position: sticky;
    top: 0;
}

nav li a:hover{
    transform: scale(1.1);
    color: #eee;
}
nav .navbar-brand::first-letter{
    color: #9606b6;
    font-weight: bold;
}
.main-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    text-align: center;
    height: 100vh;
}
.main-img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-image: url(medddo.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    border: 3px solid white;
}
.main-sec .icons a{
    border-radius: 50%;
    border: none;
    transition: 0.4s ease-in-out;
    margin: 10px 5px;
    text-align: center;
}
.main-sec .icons a:hover{
    transform: scale(1.2);
}
.main-sec .buttons a{
    transition: 0.4s ease-in-out;
    color: white;
}
.main-sec .buttons a:hover{
    transform: scale(1.1);
}
.box.show {
    opacity: 1;
    transform: translateY(0);
}
.box{
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}
.about-sec{
    height: 100vh;
}
.about-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.skills li span{
    font-weight: bold;
    color: white;
    font-size: 18px;
}
.skills li{
    color: white;
}
.skills .btn{
    transition: 0.4s ease-in-out;
    color: white;
    font-size: 18px;
}
.skills .btn:hover{
    transform: scale(1.1);
}
.skills .flip-card{
    display: none;
}