*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: gray;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    padding: 5px;
    background-color: #Eee;
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 5px gray;
    z-index: 1;
}
nav li{
    list-style: none;
    margin-top: 10px;
}
nav li a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    transition: 0.4s ease;
    position: relative;
}
nav li a.active,
nav li a:hover
{
    color: rgba(0, 143, 131, 0.858);
}
nav li a:hover::after,
nav li a.active::after
{
    content: "";
    background-color: rgba(0, 143, 131, 0.858);
    width: 40%;
    height: 2px;
    bottom: -3px;
    left: 0px;
    position: absolute;
}
.first-banner{
    width: 100%;
    height: 300px;
    background-image: url(banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-banner p {
    color: white;
}
.first-banner h1{
    letter-spacing: 2px;
    font-size: 40px;
    color: white;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.peopls{
    display: flex;
    flex-direction: column;
}
.container .left-sec p{
    display: inline;
}
.left-sec ul{
    list-style: none;
    line-height: 40px;
}
.contact-sec{
    width: 70%;

    border: 1px solid gray;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px auto 0 auto;
    box-shadow: 1px 1px 5px gray;
}
.contact-sec p{
    line-height: 10px;
}
.inputs p{
    margin-top: 20px;
}
.inputs form{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.inputs input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
}
.inputs textarea{
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
}
.peopls div{
    margin-top: 20px;
}
.btn-submit{
    padding: 10px;
    border: none;
    background-color: rgb(0, 136, 0);
    color: white;
    border-radius: 10px;
}
.inputs{
    margin-top: 20px;
}


.banner-sec2{
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 69);
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.banner-sec2 p{
    color: gray;
}
.banner-sec2 h1{
    color: white;
}
.banner-sec2 span{
    color: goldenrod;
}
.banner-sec2 .email-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.banner-sec2 input{
    width: 300px;
    height: 50px;
    padding: 0 10px;
}
.banner-sec2 button{
    height: 50px;
    padding: 0 15px;
    background-color: rgb(36, 120, 36);
    color: #Eee;
    border: none;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.part1{
    line-height: 40px;
}
.part1 span{
    font-weight: bold;
}
.part1 h4{
    margin-top: 10px;
}
.part1 a{
    color: black;
    margin-right: 15px;
    font-size: 25px;
}
.part1 img{
    margin-top: 50px;
}
.part2{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
}
.part2 a{
    text-decoration: none;
    color: grey;
}
.part4{
    line-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part4 img{
    border: 1px solid rgba(0, 0, 0, 0.352);
}
.part4 > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.rights{
    text-align: center;
    margin-top: 100px;
    letter-spacing: 3px;

    color: black;
    height: 75px;
}
.rights a{
    text-decoration: none;
}
@media (max-width: 450px){
    .main-pg{
        top: 15%;
        left: 120px;
        font-size: 14px;
    }
    .main-sec {
    background-size: cover;
    background-position: right;
    }
    .banner-sec2 {
    height: 250px;
        flex-direction: column;
    }
    .banner-sec{
    height: 250px;
    background-size: cover;
    background-position: center;
    }
    .banner1{
        background-position: left;
        background-size: contain;
        margin-bottom: 10px;
    }
    .banner3,.banner4{
        margin-bottom: 10px;
    }
    .btn-signup{
        margin-top: 5px;
    }
    .part1 , .part2 {
        margin-bottom: 50px;
    }
    .part1{
        margin-left: 90px;
    }
    .three,.four{
        margin: 10px 0;
    }
    .container img{
        width: 250px;
    }
    .vid-sec video{
        width: 250px;
    }
    .map iframe{
        width: 310px;
        margin-left: -7px;
    }
  a{
        font-size: 4px;
    }
    /* navbar edit */
}
@media (min-width:451px) and (max-width:850px) {
    .first-sec{
        flex-direction: column;
        align-items: center;
    }
    .first-sec h1{
        margin-top: 20px;
        font-size: 35px;
    }
    .map iframe{
        width: 100%;
    }
}
@media (max-width: 1111px)
{
    .peopls{
        flex-direction: column;
    }
    .peopls div{
        margin-right: 20px;
    }
}
@media (max-width: 450px) {
    a {
        font-size: 16px;
    }
}