*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4{
    color: black;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    padding: 5px;
    background-color: #Eee;
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 5px gray;
    z-index: 1;
}
nav li{
    list-style: none;
    margin-top: 10px;
}
nav li a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    transition: 0.4s ease;
    position: relative;
}
nav li a.active,
nav li a:hover
{
    color: rgba(0, 143, 131, 0.858);
}
nav li a:hover::after,
nav li a.active::after
{
    content: "";
    background-color: rgba(0, 143, 131, 0.858);
    width: 40%;
    height: 2px;
    bottom: -3px;
    left: 0px;
    position: absolute;
}
.product-images{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 50%;
}
.min-images{
    display: flex;
}
.main-img{
    margin-top: 50px;
    max-width: 520px;
}
.min-images img{
    margin-top: 5px;
    margin-inline: 5px;
    cursor: pointer;
    max-width: 120px;
    min-width: 60px;
}
.details{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    line-height: 30px;
    margin-left: 50px;
}
.product-details{
    display: flex;
}
select{
    width: 100px;
}
.pg-det{
    width: 50%;
    color: grey;
}
.pro-number{
    width: 140px;
    height: 35px;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}
.btn-cart{
    background-color: rgb(0, 174, 160);
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}
.details > div{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.pro1{
    width: 250px;
    height: 350px;
    box-shadow: 1px 1px 3px gray;
    border-radius: 20px;
    border: none;
    background-color: white;
    position: relative;
    transition: 0.4s ease;
    margin-top: 50px;
}
.pro1 img{
    width: 225px;
    height: 190px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.cart{
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(0, 174, 160);
    color: black;
}
.pro1 p,.pro1 h5{
    text-align: left;
    margin-left: 10px;
    line-height: 15px;
}
.star{
    text-align: left;
    margin-left: 10px;
    color: goldenrod;
}
.pro1 .price{
    text-align: left;
    font-size: 20px;
    color: rgba(0, 143, 131, 0.858);
    margin-left: 10px;
    line-height: 25px;
}
.pro1:hover{
    width: 260px;
    height: 360px;
}
.third-sec{
    text-align: center;
    margin-top: 70px;
    letter-spacing: 2px;
}
.products{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.banner-sec2{
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 69);
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.banner-sec2 p{
    color: gray;
}
.banner-sec2 h1{
    color: white;
}
.banner-sec2 span{
    color: goldenrod;
}
.banner-sec2 .email-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.banner-sec2 input{
    width: 300px;
    height: 50px;
    padding: 0 10px;
}
.banner-sec2 button{
    height: 50px;
    padding: 0 15px;
    background-color: rgb(36, 120, 36);
    color: #Eee;
    border: none;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.part1{
    line-height: 40px;
}
.part1 span{
    font-weight: bold;
}
.part1 h4{
    margin-top: 10px;
}
.part1 a{
    color: black;
    margin-right: 15px;
    font-size: 25px;
}
.part1 img{
    margin-top: 50px;
}
.part2{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
}
.part2 a{
    text-decoration: none;
    color: grey;
}
.part4{
    line-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part4 img{
    border: 1px solid rgba(0, 0, 0, 0.352);
}
.part4 > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.rights{
    text-align: center;
    margin-top: 100px;
    letter-spacing: 3px;

    color: black;
    height: 75px;
}
.rights a{
    text-decoration: none;
}

@media (max-width:799px) {
    .product-details{
        flex-wrap: wrap;
    }
    .main-img{
        width: 300px;
        margin-left: -35px;
    }
    .min-images img{
        width: 120px;
        margin-left: -35px;
        margin-right: 50px;
    }
}
@media (max-width: 500px){
    .main-sec {
    background-size: cover;
    background-position: right;
    }
    .banner-sec2 {
        height: 250px;
        flex-direction: column;
    }
    .banner-sec{
    height: 250px;
    background-size: cover;
    background-position: center;
    }
    .banner1{
        background-position: left;
        background-size: contain;
        margin-bottom: 10px;
    }
    .banner3,.banner4{
        margin-bottom: 10px;
    }
    .btn-signup{
        margin-top: 5px;
    }
    .part1 , .part2 {
        margin-bottom: 50px;
    }
    .part1{
        margin-left: 90px;
    }
    /* navbar edit */
}